/Library
/Temp
/obj
.vs
/WebAssets
/pc
/*.sln
/*.csproj
/*.userprefs
/AndroidAssets
/AndroidAssets_lzma
/.gradle
*Tofl_IOS_Exporter*
*ModList*
*Tofl_Android_Exporter*
/Logs
/IOSAssets
/MissionEditor/bin
/MissionEditor/obj
/Mission
/editor
/Assets/csc.rsp
/Assets/csc.rsp.meta
/Assets/codeandweb.com/Editor/SettingsTexturePackerImporter.txt
/Assets/codeandweb.com/Editor/SettingsTexturePackerImporter.txt.meta
/client.suo
/Game/bin
/Game/obj
bankProjectHash.txt
/Assets/ThirdParty/codeandweb.com/Editor/SettingsTexturePackerImporter.txt
/Assets/ThirdParty/codeandweb.com/Editor/SettingsTexturePackerImporter.txt.meta
/game.log
/Assets/Editor/LocalConfig*
/Assets/gitlogs.txt
*VSCode*
*.rej*
*ios_md5.txt*
*android_md5.txt*
*release.keystore*
Assets/Plugins/Android*
*autobuild_editor.log
/Assets/Realistic Effects Pack
/Assets/Textures/effect/tex
/Assets/KriptoFX
/Assets/KriptoFX.meta
/Assets/Realistic Effects Pack.meta
/Assets/Textures/effect/tex.meta
/Assets/UnityVS.meta
/Assets/UnityVS/Editor.meta
/Assets/JKT_PBR_MATERIALS.meta
/Assets/JKT_PBR_MATERIALS/Materials.meta
/Assets/JKT_PBR_MATERIALS/Materials/M_grass_A.mat
/Assets/JKT_PBR_MATERIALS/Materials/M_grass_A.mat.meta
/Assets/JKT_PBR_MATERIALS/Materials/M_grass_B.mat
/Assets/JKT_PBR_MATERIALS/Materials/M_grass_B.mat.meta
/Assets/JKT_PBR_MATERIALS/Materials/Roof_Tile.mat
/Assets/JKT_PBR_MATERIALS/Materials/Roof_Tile.mat.meta
/Assets/JKT_PBR_MATERIALS/Materials/gravel_a.mat
/Assets/JKT_PBR_MATERIALS/Materials/gravel_a.mat.meta
/Assets/JKT_PBR_MATERIALS/Materials/simpletile_a.mat
/Assets/JKT_PBR_MATERIALS/Materials/simpletile_a.mat.meta
/Assets/JKT_PBR_MATERIALS/Materials/tile_brick.mat
/Assets/JKT_PBR_MATERIALS/Materials/tile_brick.mat.meta
/Assets/JKT_PBR_MATERIALS/Scenes.meta
/Assets/JKT_PBR_MATERIALS/Scenes/Scene.unity
/Assets/JKT_PBR_MATERIALS/Scenes/Scene.unity.meta
/Assets/JKT_PBR_MATERIALS/Scenes/sky.mat
/Assets/JKT_PBR_MATERIALS/Scenes/sky.mat.meta
/Assets/JKT_PBR_MATERIALS/Textures.meta
/Assets/JKT_PBR_MATERIALS/Textures/Grass_A.meta
/Assets/JKT_PBR_MATERIALS/Textures/Grass_A/Grass_albedo.psd
/Assets/JKT_PBR_MATERIALS/Textures/Grass_A/Grass_albedo.psd.meta
/Assets/JKT_PBR_MATERIALS/Textures/Grass_A/Grass_height.psd
/Assets/JKT_PBR_MATERIALS/Textures/Grass_A/Grass_height.psd.meta
/Assets/JKT_PBR_MATERIALS/Textures/Grass_A/Grass_normal.psd
/Assets/JKT_PBR_MATERIALS/Textures/Grass_A/Grass_normal.psd.meta
/Assets/JKT_PBR_MATERIALS/Textures/Grass_A/Grass_spec.psd
/Assets/JKT_PBR_MATERIALS/Textures/Grass_A/Grass_spec.psd.meta
/Assets/JKT_PBR_MATERIALS/Textures/Grass_B.meta
/Assets/JKT_PBR_MATERIALS/Textures/Grass_B/grass_b_albedo.tga
/Assets/JKT_PBR_MATERIALS/Textures/Grass_B/grass_b_albedo.tga.meta
/Assets/JKT_PBR_MATERIALS/Textures/Grass_B/grass_b_height.png
/Assets/JKT_PBR_MATERIALS/Textures/Grass_B/grass_b_height.png.meta
/Assets/JKT_PBR_MATERIALS/Textures/Grass_B/grass_b_normal.tga
/Assets/JKT_PBR_MATERIALS/Textures/Grass_B/grass_b_normal.tga.meta
/Assets/JKT_PBR_MATERIALS/Textures/Grass_B/grass_b_spec.tga
/Assets/JKT_PBR_MATERIALS/Textures/Grass_B/grass_b_spec.tga.meta
/Assets/JKT_PBR_MATERIALS/Textures/Roof_Tile.meta
/Assets/JKT_PBR_MATERIALS/Textures/Roof_Tile/roof_ALBEDO.tga
/Assets/JKT_PBR_MATERIALS/Textures/Roof_Tile/roof_ALBEDO.tga.meta
/Assets/JKT_PBR_MATERIALS/Textures/Roof_Tile/roof_height.tga
/Assets/JKT_PBR_MATERIALS/Textures/Roof_Tile/roof_height.tga.meta
/Assets/JKT_PBR_MATERIALS/Textures/Roof_Tile/roof_normal.tga
/Assets/JKT_PBR_MATERIALS/Textures/Roof_Tile/roof_normal.tga.meta
/Assets/JKT_PBR_MATERIALS/Textures/Roof_Tile/roof_spec.tga
/Assets/JKT_PBR_MATERIALS/Textures/Roof_Tile/roof_spec.tga.meta
/Assets/JKT_PBR_MATERIALS/Textures/gravel_a.meta
/Assets/JKT_PBR_MATERIALS/Textures/gravel_a/gravel_albedo.tga
/Assets/JKT_PBR_MATERIALS/Textures/gravel_a/gravel_albedo.tga.meta
/Assets/JKT_PBR_MATERIALS/Textures/gravel_a/gravel_height.psd
/Assets/JKT_PBR_MATERIALS/Textures/gravel_a/gravel_height.psd.meta
/Assets/JKT_PBR_MATERIALS/Textures/gravel_a/gravel_nrm.tga
/Assets/JKT_PBR_MATERIALS/Textures/gravel_a/gravel_nrm.tga.meta
/Assets/JKT_PBR_MATERIALS/Textures/gravel_a/gravel_spec.psd
/Assets/JKT_PBR_MATERIALS/Textures/gravel_a/gravel_spec.psd.meta
/Assets/JKT_PBR_MATERIALS/Textures/simpletile_a.meta
/Assets/JKT_PBR_MATERIALS/Textures/simpletile_a/Tile_Floor_Brick_B_albedo.tga
/Assets/JKT_PBR_MATERIALS/Textures/simpletile_a/Tile_Floor_Brick_B_albedo.tga.meta
/Assets/JKT_PBR_MATERIALS/Textures/simpletile_a/simpletile_SPEC.psd
/Assets/JKT_PBR_MATERIALS/Textures/simpletile_a/simpletile_SPEC.psd.meta
/Assets/JKT_PBR_MATERIALS/Textures/simpletile_a/simpletile_height.psd
/Assets/JKT_PBR_MATERIALS/Textures/simpletile_a/simpletile_height.psd.meta
/Assets/JKT_PBR_MATERIALS/Textures/simpletile_a/simpletile_normal.psd
/Assets/JKT_PBR_MATERIALS/Textures/simpletile_a/simpletile_normal.psd.meta
/Assets/JKT_PBR_MATERIALS/Textures/tile_brick.meta
/Assets/JKT_PBR_MATERIALS/Textures/tile_brick/tile_brick_Nrm.psd
/Assets/JKT_PBR_MATERIALS/Textures/tile_brick/tile_brick_Nrm.psd.meta
/Assets/JKT_PBR_MATERIALS/Textures/tile_brick/tile_brick_albedo.psd
/Assets/JKT_PBR_MATERIALS/Textures/tile_brick/tile_brick_albedo.psd.meta
/Assets/JKT_PBR_MATERIALS/Textures/tile_brick/tile_brick_height.psd
/Assets/JKT_PBR_MATERIALS/Textures/tile_brick/tile_brick_height.psd.meta
/Assets/JKT_PBR_MATERIALS/Textures/tile_brick/tile_brick_spec.psd
/Assets/JKT_PBR_MATERIALS/Textures/tile_brick/tile_brick_spec.psd.meta
/pcpp
/Campaign/campaign.bytes
/Campaign/campaign.json
/account
/Assets/Textures/icon/baseBG/qq图片20200508173141.png
/Assets/Textures/icon/baseBG/qq图片20200508173141.png.meta
/Assets/Scripts/Util/JustTest.cs
/Assets/Scripts/Util/JustTest.cs.meta
/Assets/mission_editor_tag.json
/Assets/mission_editor_tag.json.meta
/Assets/Prefabs/battle/effect/archer/fxtl_archer_attacksky_02.playable.meta
/Assets/Scenes/stage/stage03.meta
/Assets/Textures/icon/baseBG.meta
/.idea/client.iml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/Assets/Resources/.idea/.gitignore
/Assets/Resources/.idea/Resources.iml
/Assets/Resources/.idea/misc.xml
/Assets/Resources/.idea/modules.xml
/Assets/Resources/.idea/vcs.xml
/Assets/Resources/emmylua/intellj
/Assets/Resources/emmylua/intellj.meta
/Assets/.lpproj
/Packages/packages-lock.json
